@page
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocina</title>
    <link rel="stylesheet" href="~/CSS/StyleCocinero.css">
</head>
<body>

    <h1 class="titulo-principal">Pedidos en Cocina</h1>

    @*Ticket#1*@
    <div class="pedido-container">
        <div class="encabezados">
            <h2 class="nombre-mesa">MESA 1</h2>
            <h2 class="numero-ticket">TICKET #1</h2>
        </div>

        <ul class="lista-pedidos">
            <li class="item-pedido">
                <img src="/Assets/HamburguesaSencilla2.png" class="imagen-producto" />
                <div class="detalles-item">
                    <p class="nombre-producto">Hamburguesa sencilla</p>
                    <p class="descripcion">Sin cebolla</p>
                    <p class="cantidad">Cantidad: 1</p>
                    <div class="botones-estado">
                        <button class="estado-btn en-preparacion">En preparación</button>
                        <button class="estado-btn listo">Listo</button>
                    </div>

                </div>

            <li class="item-pedido">
                <img src="/Assets/PapasChicas.png" class="imagen-producto" />
                <div class="detalles-item">
                    <p class="nombre-producto">Papas chicas</p>
                    <p class="descripcion"></p>
                    <p class="cantidad">Cantidad: 1</p>
                    <div class="botones-estado">
                        <button class="estado-btn en-preparacion">En preparación</button>
                        <button class="estado-btn listo">Listo</button>
                    </div>

                </div>

            </li>
        </ul>
        <p class="fecha">Fecha: 2025/06/17</p>
    </div>

    @*Ticket#2*@

    <div class="pedido-container">
        <div class="encabezados">
            <h2 class="nombre-mesa">MESA 1</h2>
            <h2 class="numero-ticket">TICKET #2</h2>
        </div>

        <ul class="lista-pedidos">
            <li class="item-pedido">
                <img src="/Assets/HamburguesaSencilla2.png" class="imagen-producto" />
                <div class="detalles-item">
                    <p class="nombre-producto">Hamburguesa sencilla</p>
                    <p class="descripcion">Sin cebolla</p>
                    <p class="cantidad">Cantidad: 1</p>
                    <div class="botones-estado">
                        <button class="estado-btn en-preparacion">En preparación</button>
                        <button class="estado-btn listo">Listo</button>
                    </div>

                </div>
            </li>
                        <li class="item-pedido">
                <img src="/Assets/HamburguesaSencilla2.png" class="imagen-producto" />
                <div class="detalles-item">
                    <p class="nombre-producto">Hamburguesa sencilla</p>
                    <p class="descripcion">Sin cebolla</p>
                    <p class="cantidad">Cantidad: 1</p>
                    <div class="botones-estado">
                        <button class="estado-btn en-preparacion">En preparación</button>
                        <button class="estado-btn listo">Listo</button>
                    </div>

                </div>

                            <li class="item-pedido">
                <img src="/Assets/HamburguesaSencilla2.png" class="imagen-producto" />
                <div class="detalles-item">
                    <p class="nombre-producto">Hamburguesa sencilla</p>
                    <p class="descripcion">Sin cebolla</p>
                    <p class="cantidad">Cantidad: 1</p>
                    <div class="botones-estado">
                        <button class="estado-btn en-preparacion">En preparación</button>
                        <button class="estado-btn listo">Listo</button>
                    </div>

                </div>

            <li class="item-pedido">
                <img src="/Assets/HamburguesaSencilla2.png" class="imagen-producto" />
                <div class="detalles-item">
                    <p class="nombre-producto">Hamburguesa sencilla</p>
                    <p class="descripcion">Sin cebolla</p>
                    <p class="cantidad">Cantidad: 1</p>
                    <div class="botones-estado">
                        <button class="estado-btn en-preparacion">En preparación</button>
                        <button class="estado-btn listo">Listo</button>
                    </div>

                </div>

            <li class="item-pedido">
                <img src="/Assets/PapasChicas.png" class="imagen-producto" />
                <div class="detalles-item">
                    <p class="nombre-producto">Papas chicas</p>
                    <p class="descripcion"></p>
                    <p class="cantidad">Cantidad: 1</p>
                    <div class="botones-estado">
                        <button class="estado-btn en-preparacion">En preparación</button>
                        <button class="estado-btn listo">Listo</button>
                    </div>

                </div>

            </li>
        </ul>
        <p class="fecha">Fecha: 2025/06/17</p>
    </div>

</body>
</html>
